.product {
  display: inline-block;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
}

.product h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product * {
  padding: 0px 5px;
}
